body {
    margin:0;
    padding:0;
    font-family:sans-serif;
}
.container img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
}
.container{
     background-color:#0088cc;
}
.glico a{
    outline:none !important;
}
.main-header{
    margin-top:50px;
   
}
.main-header img{
    width:250px;
    height:auto;
    border:1px solid white;
    position:fixed;
    margin-left:165px;
    
}
.txtsearch{
    margin-left:30%;
    width:40%;
    margin-top:1%;
    height:30px;
    border:1px solid blue;
}
.main-header > .btnsearch{
    overflow:visible;
    background-color:royalblue;
    border:none;
    font-size:29px;
    position:absolute;
    margin-top:14.5px;
}
.fa-search{
    color:white;
    cursor:pointer;
}
.home-slider .imgsieuto{
    margin-left:400px;
}
.imggiatxa{
    max-width:280px;
    height:369px;
    margin-left:-5px;
}
.home-slider{
    background-color:rgb(102,102,255);
    margin-top:60px;
    max-height:369px;
    position:relative;
}
.menu{
    position:absolute;
    margin-left:149px;
    background-color:white;
    height:369px;
    width:260px;
    
}

.menu ul li{
    list-style:none;
    line-height:40px;
    margin:0;
}
.menu ul li a{
    text-decoration:none;
    color:#636e72;
    font-size:15px;
}
.menu img{
    width:20px;
   
}
.danhmuc{
    position:absolute;
    margin-left:149px;
    background-color:#0984e3;
    margin-top:-35px;
    width:260px;
    height:35px;
}
.logo{
    font-size:18px;
    text-transform:uppercase;
    padding:7px 30px;
    color:white;
    font-weight:bold;
}
.checktbn i{
    color:black;
    font-size:20px;
    margin-top:-30px;
    margin-left:200px;
    cursor:pointer;
    /*position:absolute;*/
    line-height:28px;
    position:fixed;
}
#check{
    display:none;
}
.menu li:hover > a{
    background-color:dodgerblue;
    padding:7px 10px;
    color:white;
}
.menu_con{
    position:fixed;
    margin-left:220px;
    margin-top:-5%;
    width:600px;
    background-color:white;
    height:220px;
    display:none;
  
}
.menu_con li{
    border-bottom:inset;
}
.home-slider ul li:hover > .menu_con{
   display:block;
   border-top:1px solid darkgray;
   position:fixed;
}
.menu_con2{
    margin-left:220px;
    position:absolute;
    margin-top:-14%;
    width:600px;
    background-color:white;
    height:200px;
    display:none;
}
.menu_con2 li{
    border-bottom:inset;
    
}
.home-slider ul li:hover .menu_con2{
    z-index:1;
    position:fixed;
    display:block;
    border:1px solid darkgray;
}
.menu_con3{
    margin-left:220px;
    position:absolute;
    margin-top:-16%;
    background-color:white;
    height:260px;
    width:600px;
    display:none;
}
.menu_con3 li{
    border-bottom:inset;
}
.menu ul li:hover .menu_con3{
    opacity:1;
    z-index:1;
    position:fixed;
    display:block;
    border:1px solid darkgray;
}
.menu_con4{
    margin-left:220px;
    position:absolute;
    width:600px;
    margin-top:-12%;
    background-color:white;
    height:600px;
    display:none;
}
.menu_con4 li{
    border-bottom:inset;
}
.home-slider ul li:hover .menu_con4{
    opacity:1;
    z-index:1;
    position:fixed;
    display:block;
}
.menu_con5{
    margin-left:220px;
    position:absolute;
    width:600px;
    background-color:white;
    height:600px;
    margin-top:-50%;
    display:none;
}
.home-slider ul li:hover .menu_con5{
    display:block;
}
.link-image img{
    width:150px;
    border:1px solid darkgray;
    margin-left:149px;
    position:relative;
}
.trademake{
    margin-left:149px;
    font-size:17px;
}
hr{
    margin-left:148px;
    width:70.5%;
}
.footer_h3{
    color:#2d3436;
}
.adress h4{
    color:#8395a7;
}
.adress{
    line-height:5px;
    margin-left:10%;
    margin-top:3%;
    font-size:14px;
}
.container-footer{
    width:100%;
    background-color:#ecf0f1;
    height:50vh;
    position:absolute;
   
}
.information{
    margin-left:7%;
    line-height:25px;
    height:auto;
    margin-top:27px;
}
.information a{
    text-decoration:none;
    color:darkgrey
}
.information h3{
    color:#2c3e50;
}
.information ul li:hover > a{
    color:forestgreen;
}
.footer-end a{
   color:black;
}
.containerFooter{
    display:flex;
}
.Register{
    margin-left:8%;
    margin-top:27px;
}
.Register input{
    width:200px ;
    height:25px;
    padding:0 20px;
    border:none;
}
.Register .btnOK{
    width:40px;
    padding:5px;
    border:none;
    background-color:hotpink;
    cursor:pointer;
}
.Register h3{
    color:#2c3e50;
}
.Register i{
    border:1px solid darkgray;
    padding:7px 15px;
}
.fa-facebook{
    background-color:blue;
}
.Register .fa fa-vk{
    background:red;
}
.footer-bigend{
    text-align:center;
}
.footer-bigend:hover a{
    color:green;
}


















